<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content})}">

<head>
</head>

<body>
    <div id="content">
        <h1>Welcome to about page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo exercitationem voluptates molestias doloribus,
            eveniet, dignissimos tenetur, hic nihil animi eos quas laborum delectus explicabo perspiciatis veniam
            impedit? Alias ipsa distinctio perferendis eum animi reprehenderit, odit aut mollitia ipsum iure maiores,
            totam praesentium id accusantium. Optio exercitationem eius in, obcaecati laborum, ea quibusdam dicta
            consequatur recusandae nisi odit deserunt quas libero, incidunt repudiandae perferendis? Harum, ratione ad
            est soluta sed suscipit provident blanditiis quos! Iure esse harum animi mollitia tenetur totam quisquam
            doloribus, quos iste labore quas possimus, quaerat dicta consequatur itaque inventore. Adipisci officiis
            unde ipsa tenetur illum, expedita sit?</p>
    </div>
</body>

</html>