<!DOCTYPE html>
<html lang="en" th:fragment="parent(content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>

</head>

<body>
    <!-- Common Header -->
    <ul class="p-4">
        <li>
            <a data-th-href="@{home}">Home</a>
        </li>
        <li>
            <a data-th-href="@{services}">Services</a>
        </li>
        <li>
            <a data-th-href="@{about}">About</a>
        </li>
    </ul>

    <!-- Main Content -->
    <div class="p-4">
        <section data-th-replace="${content}"> </section>
    </div>
    <!-- Flow bite content -->
    
    <!-- Common Footer -->
    <footer class="p-4">
        Footer: Code with Bishal
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    
    </body>
    
    </html>