<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            margin: 0 auto;
            width: 50%;
            text-align: center;
            margin-top: 100px;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>

<body>
    <div class="container">

        <h1 data-th-text="${name}">"Hello, World!"</h1>
        <h2> Youtube Channel: <span data-th-text="${youtubeChannel}"> </span></h2>
        <h3> <span data-th-text="${greeting}"> </span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quae deleniti fugit rerum corrupti natus
            dicta iusto esse optio autem atque voluptas qui, culpa inventore exercitationem. Similique ut quia quod?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, totam sit? Illum tempore et voluptas
            voluptatibus sit fuga neque expedita inventore, officia distinctio minus veritatis officiis ratione facilis.
            Dolor, est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis placeat vitae repellendus
            inventore magni quaerat labore sint laudantium aliquid quibusdam reprehenderit, ipsa tempora voluptatibus
            error, voluptas sunt, ab dolorum nemo.</p>
    </div>

</body>

</html>